<div class="max-w-3xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
  <h1 class="font-bold text-4xl">マイページ</h1>
  <div class="mt-2">
    <strong>ユーザー名</strong>
    <%= @user.name %>
  </div>
  <p>
    <strong>e-mail</strong>
    <%= @user.email %>
  </p>
  <p>
    <strong>アバター画像</strong>
    <%= image_tag(@user.avatar.url, class: "h-10 w-10 rounded-full") %>
  </p>


  <div class="mt-6">
    <%= link_to "プロフィール編集", edit_user_registration_path, class: "text-indigo-600 hover:text-indigo-500 font-medium" %>
  </div>
</div>
