<% return unless current_user %>

<% fav = @favorite_by_facility_id&.[](facility.id) %>

<% if fav %>
  <%= link_to favorite_path(fav),
              data: { turbo_method: :delete },
              id: "unfavorite-button-for-facility-#{fav.id}" do %>
    <span class="text-5xl text-yellow-400">★</span>
  <% end %>
<% else %>
  <%= link_to favorites_path(facility_id: facility.id),
              data: { turbo_method: :post } do %>
    <span class="text-5xl text-yellow-400">☆</span>
  <% end %>
<% end %>
