<div class="w-full h-56 md:h-64 rounded-md overflow-hidden flex items-center justify-center">
  <% if facility.images.attached? %>
    <% begin %>
      <%= image_tag facility.images.first.variant(resize_to_limit: [1280, 960]),
            class: "max-h-full max-w-full object-contain" %>
    <% rescue ActiveStorage::FileNotFoundError, Errno::ENOENT %>
      <%= image_tag "sample.png", class: "max-h-full max-w-full object-contain" %>
    <% end %>
  <% else %>
    <%= image_tag "sample.png", class: "max-h-full max-w-full object-contain" %>
  <% end %>
</div>
