<% content_for :title, "施設一覧" %>

<div class="w-full">
  <% if notice.present? %>
    <p id="notice" class="mb-5 inline-block rounded-md bg-green-50 px-3 py-2 font-medium text-green-600"><%= notice %></p>
  <% end %>

  <%= render 'search', q: @q, url: facilities_path %>

  <!-- 検索結果 / 一覧 -->
  <div id="facilities" class="mt-8 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <% if @facilities.any? %>
      <%= render partial: 'facilities/facility',
                collection: @facilities,
                as: :facility,
                locals: { show_actions: true } %>
    <% else %>
      <p class="col-span-full my-10 text-center text-gray-500">該当する施設はありません。</p>
    <% end %>
  </div>
</div>
