<!-- app/views/facilities/new.html.erb -->
<% content_for :title, t('new_facility') %>
<h1 class="mb-6 text-2xl font-bold text-gray-900"><%= t('new_facility') %></h1>
<%= render "form", facility: @facility %>
