<%# locals: url, current_page, total_pages, per_page, remote %>

<% base_classes = "inline-flex items-center justify-center px-4 py-2 rounded-md border text-base md:text-lg" %>
<span class="last">
  <%= link_to t('views.pagination.last').html_safe,
              url,
              class: "#{base_classes} border-gray-300 bg-white text-gray-700 hover:bg-gray-50",
              rel: 'last',
              remote: remote %>
</span>
