<%# app/views/kaminari/_prev_page.html.erb %>
<%# locals: url, current_page, total_pages, per_page, remote %>

<% base_classes = "inline-flex items-center justify-center px-4 py-2 rounded-md border text-base md:text-lg" %>

<% if current_page.first? %>
  <span class="prev">
    <span class="<%= "#{base_classes} border-gray-200 text-gray-300 bg-white cursor-not-allowed" %>">
      <%= t('views.pagination.previous') %>
    </span>
  </span>
<% else %>
  <span class="prev">
    <%= link_to t('views.pagination.previous').html_safe,
                url,
                class: "#{base_classes} border-gray-300 bg-white text-gray-700 hover:bg-gray-50",
                rel: 'prev',
                remote: remote %>
  </span>
<% end %>
