<h2>パスワード再設定のご案内</h2>

<p>以下のリンクから新しくパスワードを再設定することができます。</p>

<p><%= link_to "新しいパスワードを設定する", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は、メールをそのまま削除してください。</p>
<p>上のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>
