<div class="w-full mt-4">
  <div class="flex flex-nowrap gap-2 w-full">
    <button type="button" class="btn-navbar flex-1 min-w-0 is-active bg-amber-300" data-navbar-target="menu" data-action="click->navbar#menuClick">一覧</button>
    <button type="button" class="btn-navbar flex-1 min-w-0 not-active bg-green-300" data-navbar-target="menu" data-action="click->navbar#menuClick">宿泊施設</button>
    <button type="button" class="btn-navbar flex-1 min-w-0 not-active bg-red-300" data-navbar-target="menu" data-action="click->navbar#menuClick">飲食店</button>
    <button type="button" class="btn-navbar flex-1 min-w-0 not-active bg-blue-300" data-navbar-target="menu" data-action="click->navbar#menuClick">レジャー施設</button>
    <button type="button" class="btn-navbar flex-1 min-w-0 not-active bg-purple-300" data-navbar-target="menu" data-action="click->navbar#menuClick">ショップ</button>
  </div>
</div>